.beer-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .beer-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 30vw;

        .tagline {
            font-size: 18px;
        }

        img {
            height: 300px;
            margin: 0 auto;
        }

        .name {
            font-size: 24px;
        }

        .description {
            color: gray;
        }
    }
}

.spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 960px) {
    .beer-detail-container {
        text-align: center;
        padding: 0px 10px;
        .beer-info {
            width: 100vw;

            ul {
                list-style-type: none;
                padding: 0px;
            }
        }
    }
}
